// Main Colors
$main-red: #EF3E3E; 
$secondary-red: #E35D5B; 
$main-blue: #34495E;
$secondary-blue: #3B6C9C;
$main-silver: #7F8C8D;
$white: #fff;

// Main Colors transparencies
$main-red-trans: rgba(239, 62, 62, .7); //#EF3E3E
$secondary-red-trans: rgba(227, 93, 91, .7); // #e35d5b
$main-blue-trans: rgba(52, 73, 94, .9); //#34495E
$main-silver-trans: rgba(127, 140, 141, .7);//#7f8c8d

