header {
  background: -webkit-linear-gradient(right, $main-blue, $main-blue-trans), url('../img/hero.jpg') no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 1rem;

    nav {
      @include grid;

      .logo { 
        display: inline-block; 
        height: 60px;
        width: auto;
        float: left;
      }

      .main-nav {  
        float: right;
        list-style: none;
        margin-top: 20px;

        & li {
          display: inline-block;
          margin-left: 40px;
        }

    }

    }

    .hero-text-box {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);  

    }

    .scroll {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      display: inline-block;

      & img {
        height: 60px;
        width: auto;
        box-shadow: 0px 0px 20px rgba(0,0,0,.5);
        border-radius: 20px;
      }
    }

}














